.main-header {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: left;
  background-color: #99546e;
}

.main-header h1 {
  margin-top: 0;
  color: rgb(33, 131, 82);
}
//nvknxnn